<p-toast></p-toast>

<div class="signIn">
    <form (ngSubmit)="submit()">
        <h1>Forget Password</h1>
        <div class="email">
            <input type="email" id="email" [(ngModel)]="forgetPasswordDto.email" name="email" required>
            <label for="email">Enter email</label>
        </div>
        <div class="div-btn">
            <button class="submit" type="submit">Send</button>
        </div>
    </form>

    <div class="toogle-left">
        <h1>Welcome Back!</h1>
        <p class="">Enter your personal details to use <br> all of site features</p>
        <button class="singInBtn bg-orange-500" id="login" [routerLink]="['/collaborator/login']"> <i class="pi pi-user"></i> Sign In</button>
        <br>
        <button class="back" [routerLink]="['/home']"><span><i class="pi pi-home"></i></span>Go Home</button>
        <div class="icon">
            <img src="assets/layout/login/undraw_agreement_re_d4dv.svg">
        </div>
    </div>
</div>
