<div class="preload-page">
        <img id="l" src="assets/layout/images/output-onlinepngtools%20(1).png">
        <img id="z" src="assets/layout/preload/z.png">
        <img id="y" src="assets/layout/preload/y.png">
        <img id="n" src="assets/layout/preload/n.png">
        <img id="e" src="assets/layout/preload/e.png">
        <img id="r" src="assets/layout/preload/r.png">
        <img id="a" src="assets/layout/preload/a.png">
        <img id="t" src="assets/layout/preload/t.png">
        <img id="o" src="assets/layout/preload/o.png">
        <img id="r1" src="assets/layout/preload/r.png">
</div>
