<div class="body">
    <div class="header">
        <app-top></app-top>
    </div>

    <h1 class="Title">Get in touch with us</h1>

    <div class="flex flex-row cont">

        <div class="col col-2 flex flex-column align-items-center">
            <div class="info">
                <div class="info-icon">
                    <img src="assets/layout/images/mail.png">
                </div>
                <p class="data">zynerator@gmail.com</p>
            </div>
            <div class="info">
                <div class="info-icon">
                    <img src="assets/layout/images/phone.png">
                </div>
                <p class="data">+212 612345678</p>
            </div>
            <div class="info">
                <div class="info-icon">
                    <img src="assets/layout/images/gps.png">
                </div>
                <p class="data">Marrakech</p>
            </div>
        </div>

        <div class="forms col col-9 flex flex-column">
            <div class="form">
                <input id="name" type="text" required>
                <label class="lab" for="name">Name</label>
            </div>
            <div class="form">
                <input id="email" type="email" required>
                <label class="lab" for="email">Email</label>
            </div>
            <div class="form">
                <input id="subject" type="text" required>
                <label class="lab" for="subject">Subject</label>
            </div>
            <div class="form">
                <textarea class="msg" id="message" type="text" required></textarea>
                <label class="lab" for="message">Message</label>
            </div>
            <button id="send" >Send<img id="send-logo" src="assets/layout/images/send-message.png"></button>
        </div>
    </div>

</div>
