<p-toast></p-toast>

<div class="body">
    <div class="signUp">
        <h1>Hello👋!</h1>
        <p>If you don't have an account,<br>
            create it from here </p>
        <button class="signUpBtn bg-orange-500" id="login" (click)="login()"><i class="pi pi-user"></i> Login</button>
        <button class="signUpBtn-home" [routerLink]="['/home']"><span><i class="pi pi-home"></i></span> Home</button>
        <img src="assets/layout/login/undraw_login_re_4vu2.svg">
    </div>

    <form (ngSubmit)="submit()" class="form-login">
        <div class="activation-message">
            <p>This page is for change Password. Please check your email for the activation code.</p>
        </div>
        <h1>Change Password</h1>
        <div class="inputs">
            <div class="username">
                <input id="email" type="email" [(ngModel)]="changePasswordDto.email" name="email"  required>
                <label for="email">Email</label>
            </div>
            <div class="password">
                <input id="activationCode" type="text" [(ngModel)]="changePasswordDto.activationCode" name="activationCode"  required>
                <label for="activationCode">Activation Code</label>
            </div>
            <div class="password">
                <input id="password" type="password" [(ngModel)]="changePasswordDto.password" name="password"  required>
                <label for="password">New Password</label>
            </div>
            <div class="password">
                <input id="confirmPassword" type="password" [(ngModel)]="changePasswordDto.confirmPassword" name="confirmPassword"  required>
                <label for="confirmPassword">Confirm Password</label>
            </div>
        </div>
        <div class="login" style="justify-content: center;">
            <button class="submit bg-orange-500" type="submit" style="border:1px solid#000;">Change Password</button>
        </div>
        <div class="resendCode">
            <div>
                <p>Need a new activation code? Click below to reset your password.</p>
            </div>
            <div class="submit-code">
                <button class="submit bg-black" type="button" (click)="forgetPassword()">Move</button>
            </div>
        </div>
    </form>
</div>
