.body {
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.activation-message {
    background-color: #FF752E;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    /* margin-bottom: 1rem; */
    font-family: "Fira Code", monospace;
    text-align: center;
    width: 67%;
    position: relative;
    top: 12px;
}

/* form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    margin-right: 12rem;
    margin-left: 5rem;
} */

form h1 {
    font-size: 3rem;
    font-family: "Fira Code", monospace;
    /* padding-bottom: 2rem; */
    font-weight: bold;
}

.username, .password {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 2rem;
}

.username input, .password input {
    width: 20rem;
    height: 3rem;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #dddddd;
    padding: 0 10px;
    font-family: "Fira Code", monospace;
}

.username label, .password label {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    transition: transform 0.2s ease;
    font-family: "Fira Code", monospace;
}

.username input:focus + label, .username input:valid + label,
.password input:focus + label, .password input:valid + label {
    transform: translate(-10px, -30px) scale(0.8);
    color: #333;
}

.forget {
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    font-family: "Fira Code", monospace;
    color: rgb(7, 15, 30);
}

.forget:hover {
    color: #FF752E;
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.login .submit {
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: 3rem;
    border-radius: 10px;
    border: none;
    background: rgb(7, 15, 30);
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-family: "Fira Code", monospace;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    border: none !important;
    position: relative;
    bottom: 7PX;
}

.login .submit:hover {
    background: white;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.submit-code {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    border: none !important;
    position: relative;
    bottom: 10px;
}

.submit-code .submit {
    margin-left: 0; /* Center align the button */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 2.5rem;
    border-radius: 10px;
    border: none;
    background: rgb(7, 15, 30);
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-family: "Fira Code", monospace;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.submit-code .submit:hover {
    background: white;
    color: rgb(7, 15, 30);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.resendCode {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Change to column to stack text and button */
}

.resendCode p {
    font-size: 1rem; /* Smaller font size */
    font-family: "Fira Code", monospace;
    color: rgb(7, 15, 30);
    margin-bottom: 1rem;
    text-align: center; /* Center align the text */
}

img {
    width: 3rem;
    height: 3rem;
}

.signUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    background: url("../../../../assets/layout/Design sans titre.png");
    background-size: cover; /* Ensure the background image covers the entire section */
    overflow: hidden;
    position: relative;
    animation: animate 30s linear infinite;
    text-align: center;
}

@keyframes animate {
    from {
        background-position-y: 0;
    }
    to {
        background-position-y: 100vh;
    }
}

.signUp h1 {
    margin-top: 3rem;
    font-size: 5rem;
    font-weight: bold;
    color: white;
    font-family: "Fira Code", monospace;
}

.signUp p {
    font-size: 1.5rem;
    color: white;
    font-family: "Fira Code", monospace;
    margin-top: 1rem;
}

.signUp img {
    margin-top: 2rem;
    height: 35rem;
    width: 27rem;
    z-index: 9;
}


.signUpBtn {
    padding: 10px 28px;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: "Fira Code", monospace;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;  /* Center align the text */
    gap: 0.5rem;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.signUpBtn:hover {
    /* background: white; */
    color: white;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.signUpBtn-home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 28px;
    margin-top: 1rem;
    color: black;
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-family: "Fira Code", monospace;
    font-size: 1rem;
    cursor: pointer;
    z-index: 9;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.signUpBtn-home:hover {
    background: white;
    color: black;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.signUpBtn i, .signUpBtn-home i {
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-login {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(to top, #FFB68E, #FF752E); */
    overflow: auto;
}

.inputs{
    /* margin-left: 16rem; */
}
