<div class="flex flex-row justify-content-around align-items-center flex-wrap border">
    <div class="navbar-logo">
        <div>
            <img src="assets/layout/images/output-onlinepngtools%20(1).png">
            <img  src="assets/layout/preload/z.png">
            <img  src="assets/layout/preload/y.png">
            <img src="assets/layout/preload/n.png">
            <img  src="assets/layout/preload/e.png">
            <img  src="assets/layout/preload/r.png">
            <img  src="assets/layout/preload/a.png">
            <img  src="assets/layout/preload/t.png">
            <img  src="assets/layout/preload/o.png">
            <img src="assets/layout/preload/r.png">
        </div>
    </div>
    <div class="flex flex-row align-items-center justify-content-center   bg-bla ">
        <ul class="flex flex-row navbar-links bg-bla">
            <li>
                <a href="/home" class="nav-link">Home</a>
            </li>
            <li>
                <a href="/features" class="nav-link">Features</a>
            </li>
            <li>
                <a href="/demo" class="nav-link">Demo</a>
            </li>
            <li>
                <a href="/generate" class="nav-link">Generate</a>
            </li>
            <li>
                <a href="/price" class="nav-link">Pricing</a>
            </li>
            <li>
                <a href="/contact" class="nav-link">Contact us</a>
            </li>
            <li>
                <a href="/about" class="nav-link">About us</a>
            </li>
        </ul>

    </div>
    <div class="flex align-items-center justify-content-center  m-2 bg-bla">
        <button class="btn-start" [routerLink]="['/admin/login']" >Get Started</button>
    </div>
</div>
