.body {
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Ensure vertical centering */
    position: relative;
}

.back {
    /*position: absolute;*/
    /*top: 20px;*/
    /*left: 20px;*/
    margin-top: 20px;
    padding: 10px 28px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    font-family: "Fira Code", monospace;
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    width: 11rem;
    height: 3rem;
}

.back i {
    font-size: 1.2rem; /* Adjust icon size */
}

.back:hover {
    /* background-color: #FF752E; */
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    margin-right: 12rem; /* Adjust as needed */
    margin-left: 5rem; /* Adjust as needed */
}

form h1 {
    font-size: 4rem;
    font-family: "Fira Code", monospace;
    padding-bottom: 2rem;
}

.username, .password {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 2rem;
}

.username input, .password input {
    width: 20rem;
    height: 3rem;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #dddddd;
    padding: 0 10px;
    font-family: "Fira Code", monospace;
}

.username label, .password label {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    transition: transform 0.2s ease;
    font-family: "Fira Code", monospace;
}

.username input:focus + label, .username input:valid + label,
.password input:focus + label, .password input:valid + label {
    transform: translate(-10px, -30px) scale(0.8);
    color: #333;
}

.forget {
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    font-family: "Fira Code", monospace;
    color: rgb(7, 15, 30);
}

.forget:hover {
    color: #FF752E;
}

.login {
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}

.login .submit {
    margin-left:23px;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: 3rem;
    border-radius: 10px;
    border: none;
    background: rgb(7, 15, 30);
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-family: "Fira Code", monospace;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.login .submit:hover {
    background: white;
    color: rgb(7, 15, 30);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login .icon {
    background: transparent;
    border: none;
}

img {
    width: 3rem;
    height: 3rem;
}

.signUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    background: url("../../../../assets/layout/Design sans titre.png");
    background-size: cover; /* Ensure the background image covers the entire section */
    overflow: hidden;
    position: relative;
    animation: animate 30s linear infinite;
    text-align: center;
}

@keyframes animate {
    from {
        background-position-y: 0;
    }
    to {
        background-position-y: 100vh;
    }
}

/* .signUp h1{
    margin-top: 6rem;
    font-size: 4rem;
    font-weight: bold;
    color: white;
    font-family: "Fira Code", monospace;
} */


/* .signUp p {
    font-size: 1.5rem;
    color: white;
    font-family: "Fira Code", monospace;
} */

.signUp img {
    margin-top: 2rem;
    height: 35rem;
    width: 30rem;
    z-index: 9;
}

.signUpBtn {
    padding: 10px 18px;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: "Fira Code", monospace;
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    width: 12rem;
    height: 3rem;
    margin-top: 1.5rem;
}

.signUpBtn:hover {
    transform: scale(1.2);
}

.signUp h1 {
    margin-top: 3rem;
    font-size: 5rem;
    font-weight: bold;
    color: white;
    font-family: "Fira Code", monospace;
}

.signUp p {
    font-size: 1.5rem;
    color: white;
    font-family: "Fira Code", monospace;
    margin-top: 1rem;
}


