<div class="main flex flex-column justify-content-center align-items-center">
    <h1 id="titre" class="titre">
        Generate your Application in 1 minute.
    </h1>

    <div class="body steps">
        <div class="step1 flex flex-column align-items-center justify-content-center">
            <h1>01</h1><br>
            <h3>Set up GitHup</h3><br>
            <p>Generate token and create an empty repository</p><br>
        </div>
        <div class="step2 flex flex-column align-items-center justify-content-center">
            <h1>02</h1><br>
            <h3>Conceptualization</h3><br>
            <p >Provide your entities and the associated attributes</p><br>
        </div>
        <div class="step3 flex flex-column align-items-center justify-content-center">
            <h1>03</h1><br>
            <h3>Click on Generate</h3><br>
            <p >Once your conceptualization is valid the project will be generated</p><br>
        </div>
        <div class="step4 flex flex-column align-items-center justify-content-center">
            <h1>04</h1><br>
            <h3>Check GitHub</h3><br>
            <p>The generated project will be pushed to your empty repository</p><br>
        </div>
    </div>

</div>
